#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.swp
*.user
.vs/
/debug
/publish
/TestResults
/build/publish
/live/Xn.Platform.Presentation.WebLive/Content
/live/Xn.Platform.Presentation.WebLive/Scripts
/video/Xn.Platform.Presentation.WebVideo/Content
/video/Xn.Platform.Presentation.WebVideo/Scripts
/houtai/Xn.Platform.Presentation.Admin/uploads
sh.exe.stackdump
/build/TestResults
/build/Xn.Platform.Everything.sln.DotSettings.user
/build/packages/Newtonsoft.Json.10.0.3/*.md
/build/packages/Newtonsoft.Json.10.0.3/*.nupkg
/build/packages/Newtonsoft.Json.10.0.3/lib/net20/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/net20/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/net35/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/net35/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/net40/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/net40/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/net45/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/net45/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/*.xml
/build/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/*.dll
/build/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/*.xml
/build/packages/Newtonsoft.Json.10.0.3/tools/*.ps1
