<?xml version="1.0" ?>
<connectionStrings>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="Bigbang" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuEvent;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuEvent" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuEvent;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuEventReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=LongzhuLadder;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuLadder" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuMedia;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuMedia" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuMedia;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuMediaReadonly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUHome;password=db@plu;pooling=true;convert zero datetime=True" name="PluMedia" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUHome;password=db@plu;pooling=true;convert zero datetime=True" name="PluMediaReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuSports;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuSportsEntities" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuSports;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuSportsEntitiesReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLUAuth;password=db@plu;pooling=true;convert zero datetime=True" name="PLUAuth" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUComments;password=db@plu;pooling=true;convert zero datetime=True" name="PLUCommentContext" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUComments;password=db@plu;pooling=true;convert zero datetime=True" name="PLUCommentReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLUDiscover;password=db@plu;pooling=true;convert zero datetime=True" name="PLUDiscover" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="PLUGOIMHistory" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUHome;password=db@plu;pooling=true;convert zero datetime=True" name="PLUHomeEntities" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.201;port=3306;user id=root;database=PLUHome;password=db@plu;pooling=true;convert zero datetime=True" name="PLUHomeEntitiesReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=IPku;password=db@plu;pooling=true;convert zero datetime=True" name="PLUIPKu" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLULog;password=db@plu;pooling=true;convert zero datetime=True" name="PLULog" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=payment;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPayment" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=payment;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPaymentReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_grim;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPluGrim" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_grim;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPluGrimReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLUProperty;password=db@plu;pooling=true;convert zero datetime=True" name="PLUProperty" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLUProperty;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPropertyReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=PLUProps;password=db@plu;pooling=true;convert zero datetime=True" name="PLUProps" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=PLUProps;password=db@plu;pooling=true;convert zero datetime=True" name="PLUPropsReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLURelationship;password=db@plu;pooling=true;convert zero datetime=True" name="PLURelationship" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=PLURelationship;password=db@plu;pooling=true;convert zero datetime=True" name="PLURelationshipReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=Report;password=db@plu;pooling=true;convert zero datetime=True" name="PLUReport" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=Report;password=db@plu;pooling=true;convert zero datetime=True" name="PLUReportReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_stark;password=db@plu;pooling=true;convert zero datetime=True" name="PLUStark" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=PLUSubscription;password=db@plu;pooling=true;convert zero datetime=True" name="PLUSubscription" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=PLUSubscription;password=db@plu;pooling=true;convert zero datetime=True" name="PLUSubscriptionReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=uc;password=db@plu;pooling=true;convert zero datetime=True" name="PLUUC" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=uc;password=db@plu;pooling=true;convert zero datetime=True" name="PLUUCReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="PLUYoyoMigrate" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=statistics;password=db@plu;pooling=true;convert zero datetime=True" name="PLUstatistics" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="PlayerLog" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=SNBaseLiveStream;password=db@plu;pooling=true;convert zero datetime=True" name="SNBaseLiveStream" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=SNBaseLiveStream;password=db@plu;pooling=true;convert zero datetime=True" name="SNBaseLiveStreamReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=SNBaseLiveStream;password=db@plu;pooling=true;convert zero datetime=True" name="StreamAlarm" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=8066;user id=pluuser;database=uc;password=plusharding;pooling=true;convert zero datetime=True" name="UC" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=advertising;password=db@plu;pooling=true;convert zero datetime=True" name="advertising" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=advertising;password=db@plu;pooling=true;convert zero datetime=True" name="advertisingReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_analytics;password=db@plu;pooling=true;convert zero datetime=True" name="analytics" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="baoming" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="datajob" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=homebak;password=db@plu;pooling=true;convert zero datetime=True" name="ecms" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="mysql.pvcounter" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_olyra;password=db@plu;pooling=true;convert zero datetime=True" name="olyra" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=payment;password=db@plu;pooling=true;convert zero datetime=True" name="payment" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=mysql;password=db@plu;pooling=true;convert zero datetime=True" name="push" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_schedules;password=db@plu;pooling=true;convert zero datetime=True" name="schedules" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_stark;password=db@plu;pooling=true;convert zero datetime=True" name="stark" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=tga;password=db@plu;pooling=true;convert zero datetime=True" name="tga" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=plu_thor;password=db@plu;pooling=true;convert zero datetime=True" name="thor" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=vote;password=db@plu;pooling=true;convert zero datetime=True" name="vote" providerName="MySql.Data.MySqlClient"/>

  <add connectionString="server=10.200.119.140;port=3306;user id=plubbs;database=LongzhuAuth;password=PluBbs_11403;pooling=true;convert zero datetime=True" name="LongzhuAuth" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.119.140;port=3306;user id=plubbs;database=LongzhuAuth;password=PluBbs_11403;pooling=true;convert zero datetime=True" name="LongzhuAuthReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuFenQian;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuFenQian" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuFenQian;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuFenQianReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.202;port=3306;user id=root;database=Report;password=db@plu;pooling=true;convert zero datetime=True" name="BGreport" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>