<?xml version="1.0" ?>
<connectionStrings>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuSports;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuSportsEntities" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=10.200.150.200;port=3306;user id=root;database=LongzhuSports;password=db@plu;pooling=true;convert zero datetime=True" name="LongzhuSportsEntitiesReadOnly" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=127.0.0.1;port=3306;user id=mysql;database=xinniudb;password=mysql;pooling=true;convert zero datetime=True" name="MySqlSportsEntities" providerName="MySql.Data.MySqlClient"/>
  <add connectionString="server=127.0.0.1;port=3306;user id=mysql;database=xinniudb;password=mysql;pooling=true;convert zero datetime=True" name="MySqlSportsEntitiesReadOnly" providerName="MySql.Data.MySqlClient"/>

</connectionStrings>