<mongoSettings>
  <instance>
    <group databaseName="plubet">
      <add connectionString="mongodb://10.200.119.140:27017"/>
    </group>
    <group databaseName="livedb">
      <add connectionString="mongodb://10.200.150.50:27017,10.200.150.51:27017,10.200.150.137:27017"/>
    </group>
    <group databaseName="maildb">
      <add connectionString="mongodb://10.200.119.140:27017"/>
    </group>
    <group databaseName="collectproplog">
      <add connectionString="mongodb://10.200.119.140:27017"/>
    </group>
  </instance>
</mongoSettings>