<redisSettings>
  <instance>
    <group name="idfa" poolSize="10">
      <add connectionString="10.200.150.100:26901" db="0" master="true"/>
    </group>
    <group name="cache" poolSize="5">
      <add connectionString="10.200.150.200:26391" db="0" master="true"/>
    </group>
    <group name="config" poolSize="5">
      <add connectionString="10.200.150.100:26904" db="0" master="true"/>
    </group>
    <group name="event" poolSize="2">
      <add connectionString="10.200.150.200:26902" db="0" master="true"/>
    </group>
    <group name="feed" poolSize="2">
      <add connectionString="10.200.150.100:26901" db="0" master="true"/>
    </group>
    <group name="login" poolSize="5">
      <add connectionString="10.200.150.200:26392" db="0" master="true"/>
    </group>
    <group name="log" poolSize="5">
      <add connectionString="10.200.150.100:26900" db="0" master="true"/>
    </group>
    <group name="live" poolSize="5">
      <add connectionString="10.200.150.101:26903" db="0" master="true"/>
    </group>
    <group name="property" poolSize="1">
      <add connectionString="10.200.150.101:26906" db="0" master="true"/>
    </group>
    <group name="profile" poolSize="5">
      <add connectionString="10.200.150.100:26398" db="0" master="true"/>
    </group>
    <group name="vector" poolSize="10">
      <add connectionString="10.200.150.101:26389" db="0" master="true"/>
    </group>
    <group name="sport" poolSize="10">
      <add connectionString="10.200.150.100:26921" db="0" master="true"/>
    </group>
    <group name="messageBus" poolSize="5">
      <add connectionString="10.200.150.101:26390" db="0" master="true"/>
    </group>
    <group name="vote" poolSize="1">
      <add connectionString="10.200.150.100:26395" db="0" master="true"/>
    </group>
    <group name="itemCoolDown" poolSize="10">
      <add connectionString="10.200.150.100:26908" db="0" master="true"/>
    </group>
    <group name="online0" poolSize="8">
      <add connectionString="10.200.150.200:27000" db="0" master="true"/>
    </group>
    <group name="online1" poolSize="8">
      <add connectionString="10.200.150.200:27001" db="0" master="true"/>
    </group>
    <group name="online2" poolSize="8">
      <add connectionString="10.200.150.200:27002" db="0" master="true"/>
    </group>
    <group name="online3" poolSize="8">
      <add connectionString="10.200.150.200:27003" db="0" master="true"/>
    </group>
    <group name="online4" poolSize="8">
      <add connectionString="10.200.150.200:27004" db="0" master="true"/>
    </group>
    <group name="online5" poolSize="8">
      <add connectionString="10.200.150.200:27005" db="0" master="true"/>
    </group>
    <group name="blacklist" poolSize="5">
      <add connectionString="10.200.150.100:26909" db="0" master="true"/>
    </group>
    <group name="livestream" poolSize="5">
      <add connectionString="10.200.150.101:26913" db="0" master="true"/>
    </group>
    <group name="search" poolSize="1">
      <add connectionString="10.200.150.101:26912" db="0" master="true"/>
    </group>
    <group name="pvuv0" poolSize="10">
      <add connectionString="10.200.150.101:26915" db="0" master="true"/>
    </group>
    <group name="pvuv1" poolSize="10">
      <add connectionString="10.200.150.101:26915" db="0" master="true"/>
    </group>
    <group name="pvuv2" poolSize="10">
	  <add connectionString="10.200.150.101:26915" db="0" master="true"/>
    </group>
    <group name="wholesite" poolSize="10">
      <add connectionString="10.200.150.101:26916" db="0" master="true"/>
    </group>
    <group name="chat" poolSize="10">
      <add connectionString="10.200.150.101:26930" db="0" master="true"/>
    </group>
    <group name="room" poolSize="1">
      <add connectionString="10.200.150.101:26394" db="1" master="true"/>
    </group>
    <group name="ranklist" poolSize="1">
      <add connectionString="10.200.150.101:27008" db="0" master="true"/>
    </group>
    <group name="pushservice" poolSize="1">
      <add connectionString="10.200.150.101:26918" db="0" master="true"/>
    </group>
    <group name="security" poolSize="1">
      <add connectionString="10.200.150.101:27008" db="0" master="true"/>
    </group>
    <group name="cache2" poolSize="1">
      <add connectionString="10.200.150.200:26405" db="0" master="true"/>
    </group>
   <group name="sportlottery" poolSize="1">
      <add connectionString="10.200.150.221:6389" db="0" master="true"/>
    </group>
    <group name="item" poolSize="1">
       <add connectionString="10.200.150.200:26909" db="0" master="true"/>
    </group>
    <group name="family" poolSize="1">
      <add connectionString="10.200.150.200:27020" db="0" master="true"/>
    </group>
    <group name="identity" poolSize="1">
      <add connectionString="10.200.150.101:26710" db="0" master="true"/>
    </group>
    <group name="relationship" poolSize="1">
      <add connectionString="10.200.150.101:26700" db="0" master="true"/>
    </group>
  <group name="pvuv_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="common_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="rvs_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="login_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="vector_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="props_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="live_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="profile_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="relationship_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="fenqian_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="activity_cluster" poolSize="10">
    <add connectionString="10.200.150.200:29001" db="0" master="true"/>
    <add connectionString="10.200.150.100:29000" db="0" master="true"/>
    <add connectionString="10.200.150.101:29000" db="0" master="true"/>
    <add connectionString="10.200.150.100:29002" db="0" master="false"/>
    <add connectionString="10.200.150.101:29001" db="0" master="false"/>
    <add connectionString="10.200.150.200:29002" db="0" master="false"/>
  </group>
  <group name="mission" poolSize="1">
    <add connectionString="10.200.150.100:26925" db="0" master="true"/>
  </group>
  <group name="blackavatar" poolSize="0">
    <add connectionString="10.200.150.100:27023" db="0" master="true"/>
  </group>
    <group name="time" poolSize="10">
      <add connectionString="10.200.150.101:6914" db="0" master="true"/>
    </group>
  </instance>
</redisSettings>